# SVM DATASET

In [1]:
# NAME   : ARPAN KHARE
# CLASS  : CS 3RD YEAR
# En.ro  : 047

In [3]:
import pandas as pd# here we import panda to use csv file
import numpy as np#for numeric value

In [4]:
data=pd.read_csv("Iris.csv")#read_csv used to read csv file if we want to read excel file wee use xlsx

In [5]:
data.head()#to show top 5 data of head

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
from sklearn.preprocessing import LabelEncoder#importing for encoding into numeric format

In [7]:
data['Species'].unique()# check common species

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [8]:
from sklearn import preprocessing
Ps2=preprocessing.LabelEncoder()

In [9]:
data['Species']=Ps2.fit_transform(data['Species'])

In [10]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [11]:
data.head(103)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        0
1      2            4.9           3.0            1.4           0.2        0
2      3            4.7           3.2            1.3           0.2        0
3      4            4.6           3.1            1.5           0.2        0
4      5            5.0           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
98    99            5.1           2.5            3.0           1.1        1
99   100            5.7           2.8            4.1           1.3        1
100  101            6.3           3.3            6.0           2.5        2
101  102            5.8           2.7            5.1           1.9        2
102  103            7.1           3.0            5.9           2.1        2

[103 rows x 6 columns]

In [12]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn import svm

In [13]:
iris=load_iris()
X=iris.data
Y=iris.target

In [14]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y, test_size=0.2,random_state=42)

In [15]:
clf=svm.SVC()

In [19]:
clf.fit(X_train, Y_train)

SVC()

In [17]:
Y_pred = clf.predict(X_test)#prediction of y according the test of x

In [18]:
accuracy=accuracy_score(Y_test,Y_pred)
print("Accuracy :",accuracy)

Accuracy : 1.0