#EDA on given data set of mlcoe

In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
df=pd.read_csv("MLCOE.csv")

In [9]:
df.head(200)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Payment Method,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Preferred Payment Method,Frequency of Purchases
0,1,NaN,Male,Blouse,Clothing,NaN,Kentucky,L,Gray,Winter,NaN,yep,Credit Card,Express,Indeed,y,14,Venmo,Fortnightly
1,2,NaN,Male,Sweater,Clothing,NaN,Maine,L,Maroon,Winter,NaN,Yes,Bank Transfer,Express,Yes,Yo,2,Cash,Fortnightly
2,3,NaN,Male,Jeans,Clothing,NaN,Massachusetts,S,Maroon,Spring,NaN,Yes,Cash,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,NaN,Male,Sandals,Footwear,90.0,Rhode Island,M,Maroon,Spring,NaN,Yes,PayPal,Next Day Air,Indeed,Yo,49,PayPal,Weekly
4,5,NaN,Male,Blouse,Clothing,NaN,Oregon,M,Turquoise,Spring,NaN,Yo,Cash,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,196,NaN,Male,Jacket,Outerwear,25.0,New York,M,Magenta,Fall,4.3,Haanji,Credit Card,Free Shipping,Yes,Yes,34,Credit Card,Monthly
196,197,38.0,Male,Boots,Footwear,NaN,Washington,M,Lavender,Summer,NaN,Haan,Cash,Next Day Air,Yes,Of course,41,Credit Card,Fortnightly
197,198,59.0,Male,Scarf,Accessories,NaN,South Carolina,M,Black,Fall,NaN,TRUE,Debit Card,2-Day Shipping,Yes,Yes,41,Credit Card,Monthly
198,199,57.0,Male,Jewelry,Accessories,NaN,Utah,M,Turquoise,Winter,4.8,Of course,Cash,Standard,Yes,Yes,39,Credit Card,Fortnightly
199,200,NaN,Male,Hat,Accessories,NaN,Idaho,XL,Green,Summer,NaN,Yo,Debit Card,Express,Yes,Yes,32,Cash,Weekly

In [10]:
df.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Payment Method',
       'Shipping Type', 'Discount Applied', 'Promo Code Used',
       'Previous Purchases', 'Preferred Payment Method',
       'Frequency of Purchases'],
      dtype='object')

In [11]:
df.size

74100

In [12]:
df.shape

(3900, 19)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer ID               3900 non-null   int64
 1   Age                       3269 non-null   float64
 2   Gender                    3900 non-null   object
 3   Item Purchased            3900 non-null   object
 4   Category                  3900 non-null   object
 5   Purchase Amount (USD)     3285 non-null   float64
 6   Location                  3900 non-null   object
 7   Size                      3900 non-null   object
 8   Color                     3900 non-null   object
 9   Season                    3900 non-null   object
 10  Review Rating             3246 non-null   float64
 11  Subscription Status       3900 non-null   object
 12  Payment Method            3900 non-null   object
 13  Shipping Type             3900 non-null   object
 14  Discount Applied          3900 non-null   object
 15  Promo Code Used           3900 non-null   object
 16  Previous Purchases        3900 non-null   int64
 17  Preferred Payment Method  3900 non-null   object
 18  Frequency of Purchases    3900 non-null   object
dtypes: float64(3), int64(2), object(14)
memory usage: 579.0+ KB

In [19]:
df.isnull().sum()

Customer ID                   0
Age                         631
Gender                        0
Item Purchased                0
Category                      0
Purchase Amount (USD)       615
Location                      0
Size                          0
Color                         0
Season                        0
Review Rating               654
Subscription Status           0
Payment Method                0
Shipping Type                 0
Discount Applied              0
Promo Code Used               0
Previous Purchases            0
Preferred Payment Method      0
Frequency of Purchases        0
dtype: int64